
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    @Scripts.Render("~/bundles/post")
}

@section styles{
    <style>
		.mainContent{
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			top: 50px;
			padding-top:10px;
			padding-left:20px;
            width: 80%;
		}

        .rightSidebar {
            position: absolute;
            left: 80%;
            right: 0px;
            bottom: 0px;
            top: 50px;
            width: 20%;
        }
    </style>
}

<div class="window" style="width:100%;height:100%;" ng-app="postApp" ng-controller="postController">
    <div class="mainContent">
        <div class="topbar">
            <div> 
            </div>
        </div>
        <div class="titleContainer">
            <span id="title" class="title" style="font-size:25px;">@Model.Title</span>
            <span style="font-size:25px;">@Model.Created.ToString("MM/dd/yyyy")</span>
        </div>
        <div style="height:90%;">
            <div id="content" class="content">
                @Model.Content
            </div>
        </div>
        <div>
            <label id="message"></label>
        </div>
    </div>
    <div class="rightSidebar">
    </div>
</div>