
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/main")
}

<div class="window" ng-app="mainApp" ng-controller="mainController as vm">
	<div class="rightSidebar">
        <div class="rightContainer">
        </div>
	</div>
    <div id="main">
        <div id="mainContent" class="mainContent">
            <div ng-show="vm.errorMessage.hasError">{{vm.errorMessage.message}}</div>
        
            <div ng-repeat="post in vm.posts | orderBy: created">
                <a><span ng-click="vm.gotoPost(post)" style="font-size:20px;cursor:pointer;">{{vm.shortDate(post.created)}} - {{post.title}}</span></a>
            </div>
        </div>
    </div>
</div>
